{% extends 'padre.html' %}
{% load static %}
{% block contenido %} 
    
    <h2>{{mensaje}}</h2>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="{% static 'AppCoder/assets/img/yo.jpg' %}"/>
                    <div class="card-body">
                        <h5 class="card-title">Emiliano Paredes García</h5>
                        <p class="card-text">INGENIERO MECATRÓNICO</p>
                        <a class="btn btn-success" href="">Ver Perfil</a>
                        <form method="post" action="{% url 'Logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                        <a href="{% url 'EditarPerfil' %}" class="btn btn-warning" >Editar</a>
                    </div>
                </div>

            </div>
        </div>
    </div>    


{% endblock %}